<div role="navigation">
   <ul class="wy-breadcrumbs">
      <li><a href=".">⌂</a> »</li>
      <li>Getting Started »</li>
      <li>Quick Start</li>
      <li class="wy-breadcrumbs-aside">
         <a
            href="https://github.com/TACC/mkdocs-tacc/edit/main/docs/index.md"
            class="icon icon-github"
            target="_blank"
         >
            Edit on GitHub</a>
      </li>
   </ul>
</div>
