<dl>
    <dt>Links</dt>
    <dd>
        <a href="#" class="x-action--with-icon">
            <i class="
                x-action__icon-at-start
                icon icon-push-right
            ">&gt;</i>
            Link with Icon
        </a>
    </dd>
    <dd>
        <button type="button" class="x-action--with-icon c-button c-button--as-link">
            <i class="
                x-action__icon-at-start
                icon icon-push-right
            ">&gt;</i>
            Button as Link with Icon
        </button>
    </dd>
    <dt>Buttons</dt>
    <dd>
        <button type="button" class="x-action--with-icon c-button c-button--primary">
            <i class="
                x-action__icon-at-start
                icon icon-push-right
            ">&gt;</i>
            Button with Icon
        </button>
    </dd>
    <dd>
        <a href="#" class="x-action--with-icon c-button c-button--primary" target="_blank">
            <i class="
                x-action__icon-at-start
                icon icon-push-right
            ">&gt;</i>
            Link as Button with Icon
        </a>
    </dd>
</dl>
