<dl>
    <dt>Bootstrap</dt>
    <dd>
        <div class="card">
            {{> @img class="card-img-top" }}
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </dd>

    <dt>TACC</dt>
    <dd>
        <div class="card card--plain card--image-top">
            {{> @img }}
            <h4>Card title</h4>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </dd>
</dl>
