@define-mixin heading-1 {
    font-size: var(--global-font-size--xx-large);
    font-weight: var(--black);

    margin-bottom: 40px; /* rounded from design 42px */
    text-transform: uppercase;
}

@define-mixin heading-2 {
    font-size: var(--global-font-size--large);
    font-weight: var(--black);

    margin-top: 0; /* designs suggest component padding can give top spacing */
    margin-bottom: 20px; /* rounded from design 17px */
}

/* WARNING: No design available; these are just developer guesswork */
@define-mixin heading-3 {
    font-size: var(--global-font-size--medium);
    font-weight: var(--bold);

    margin-top: 0;
    margin-bottom: 0.5rem;
}
@define-mixin heading-4 {
    font-size: inherit;
    font-weight: var(--medium);
}

/* To deter use of "smaller" headings by making them match body font */
@define-mixin heading-5 {
    font-size: inherit;
    font-weight: var(--normal);
}
@define-mixin heading-6 {
    font-size: inherit;
    font-weight: var(--normal);
}

@define-mixin heading-1--cms { @mixin heading-1; }
@define-mixin heading-2--cms { @mixin heading-2; }
@define-mixin heading-3--cms { @mixin heading-3; }
@define-mixin heading-4--cms { @mixin heading-4; }
@define-mixin heading-5--cms { @mixin heading-5; }
@define-mixin heading-6--cms { @mixin heading-6; }
