/*! core-styles.settings.css → */
/* DO NOT ADD STYLES HERE; ONLY IMPORT OTHER STYLESHEETS */

@import url("./tacc/settings/border.postcss");
@import url("./tacc/settings/color.postcss");
@import url("./tacc/settings/font.postcss");
@import url("./tacc/settings/max-width.postcss");
@import url("./tacc/settings/space.postcss");
/*! ← core-styles.settings.css */
