/*! core-styles.wysiwig.css */
/* DO NOT ADD STYLES HERE; ONLY IMPORT OTHER STYLESHEETS */

/* Organize via ITCSS */
/* https://tacc-main.atlassian.net/wiki/x/QQhv */

/* SETTINGS */
@import url("./core-styles.settings.postcss");

/* COMPONENTS */
@import url("./tacc/components/c-island.postcss");
