<!-- FAQ:

This is the markup of the #s-header, as of 2021-06,
from https://frontera-portal.tacc.utexas.edu/. It has:

- Bootstrap class names
- Bootstrap attributes
-->
<ul class="s-portal-nav navbar-nav">
  <!-- When user is not logged in, there are zero dropdown(-*) classes -->
  <li class="nav-item dropdown">
    <button
      class="nav-link dropdown-toggle"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      aria-controls="nav-menu-{{default id 0}}-portal-1"
      id="nav-link-{{default id 0}}-portal-1"
    >
      <i class="icon icon-user"></i>
      username
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <nav
      class="dropdown-menu dropdown-menu-right"
      id="nav-menu-{{default id 0}}-portal-1"
      aria-labelledby="nav-link-{{default id 0}}-portal-1"
    >
      <a
        class="dropdown-item"
        href="#"
      >
        <i class="icon icon-dashboard"></i>
        My Dashboard
      </a>
      <a
        class="dropdown-item"
        href="#"
      >
        <i class="icon icon-approved-boxed"></i>
        Onboarding Admin
      </a>
      <a
        class="dropdown-item"
        href="#"
      >
        <i class="icon icon-gear"></i>
        My Account
      </a>
      <a
        class="dropdown-item"
        href="#"
      >
        <i class="icon icon-user"></i>
        Log Out
      </a>
    </nav>
  </li>
</ul>