<!-- FAQ:

This is the markup of the #s-header, as of 2021-06,
from https://frontera-portal.tacc.utexas.edu/. It has:

- Bootstrap class names
- Bootstrap attributes
-->
<ul class="s-portal-nav navbar-nav">
  <!-- When user is not logged in, there are zero dropdown(-*) classes -->
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="icon icon-user" role="presentation"></i>
      <span>username</span>
      <span class="sr-only">Toggle Dropdown</span>
    </a>
    <nav class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="/workbench/dashboard">
        <i class="icon icon-dashboard" role="presentation"></i> My Dashboard
      </a>
      <a class="dropdown-item" href="/workbench/onboarding/admin">
        <i class="icon icon-approved-boxed" role="presentation"></i> Onboarding Admin
      </a>
      <a class="dropdown-item" href="/accounts/profile/">
        <i class="icon icon-gear" role="presentation"></i> My Account
      </a>
      <a class="dropdown-item" href="/accounts/logout">
        <i class="icon icon-user" role="presentation"></i> Log Out
      </a>
    </nav>
  </li>
</ul>