<!-- Basic Pagination -->
<ul class="x-pagination">
    <li class="x-pagination__end-item x-pagination__disabled-item">
        <span class="x-pagination__end-link x-pagination__page-link--disabled">&lt; Previous</span>
    </li>
    <li class="x-pagination__page-item x-pagination__active-item">
        <a class="x-pagination__page-link x-pagination__page-link--active" href="#">1</a>
    </li>
    <li class="x-pagination__page-item">
        <a class="x-pagination__page-link" href="#">2</a>
    </li>
    <li class="x-pagination__page-item">
        <a class="x-pagination__page-link" href="#">3</a>
    </li>
    <li class="x-pagination__end-item">
        <a class="x-pagination__end-link" href="#">Next &gt;</a>
    </li>
</ul>

<!-- Pagination with Skip -->
<ul class="x-pagination">
    <li class="x-pagination__end-item">
        <a class="x-pagination__end-link" href="#">&lt; Previous</a>
    </li>
    <li class="x-pagination__page-item">
        <a class="x-pagination__page-link" href="#">1</a>
    </li>
    <li class="x-pagination__page-item x-pagination__active-item">
        <a class="x-pagination__page-link x-pagination__page-link--active" href="#">2</a>
    </li>
    <li class="x-pagination__page-item">
        <a class="x-pagination__page-link" href="#">3</a>
    </li>
    <li class="x-pagination__skipped-item">
        <span class="x-pagination__skipped-link">...</span>
    </li>
    <li class="x-pagination__page-item">
        <a class="x-pagination__page-link" href="#">10</a>
    </li>
    <li class="x-pagination__end-item">
        <a class="x-pagination__end-link" href="#">Next &gt;</a>
    </li>
</ul>

<!-- Pagination with Disabled State -->
<ul class="x-pagination">
    <li class="x-pagination__end-item">
        <a class="x-pagination__end-link" href="#">&lt; Previous</a>
    </li>
    <li class="x-pagination__page-item">
        <a class="x-pagination__page-link" href="#">1</a>
    </li>
    <li class="x-pagination__page-item x-pagination__disabled-item">
        <span class="x-pagination__page-link x-pagination__page-link--disabled">2</span>
    </li>
    <li class="x-pagination__page-item">
        <a class="x-pagination__page-link" href="#">3</a>
    </li>
    <li class="x-pagination__end-item x-pagination__disabled-item">
        <span class="x-pagination__end-link x-pagination__page-link--disabled">Next &gt;</span>
    </li>
</ul> 