<!-- Single Page -->
<nav>
  <ul class="pagination">
    <li class="page-item disabled">
      <span class="page-link">&lt; Previous</span>
    </li>
    <li class="page-item active">
      <span class="page-link">1</span>
    </li>
    <li class="page-item disabled">
      <span class="page-link">Next &gt;</span>
    </li>
  </ul>
</nav>

<!-- Few Pages (Current: 2 of 4) -->
<nav>
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#">&lt; Previous</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item active">
      <span class="page-link">2</span>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">4</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">Next &gt;</a>
    </li>
  </ul>
</nav>

<!-- Few Pages (Current: Last) -->
<nav>
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#">&lt; Previous</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item active">
      <span class="page-link">4</span>
    </li>
    <li class="page-item disabled">
      <span class="page-link">Next &gt;</span>
    </li>
  </ul>
</nav>

<!-- Many Pages - Near Start (Current: 3 of 20) -->
<nav>
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#">&lt; Previous</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item active">
      <span class="page-link">3</span>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">4</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">5</a>
    </li>
    <li class="page-item skip">
      <span class="page-link">...</span>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">20</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">Next &gt;</a>
    </li>
  </ul>
</nav>

<!-- Many Pages - Middle (Current: 10 of 20) -->
<nav>
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#">&lt; Previous</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item skip">
      <span class="page-link">...</span>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">8</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">9</a>
    </li>
    <li class="page-item active">
      <span class="page-link">10</span>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">11</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">12</a>
    </li>
    <li class="page-item skip">
      <span class="page-link">...</span>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">20</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">Next &gt;</a>
    </li>
  </ul>
</nav>

<!-- Many Pages - Near End (Current: 18 of 20) -->
<nav>
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#">&lt; Previous</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item skip">
      <span class="page-link">...</span>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">16</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">17</a>
    </li>
    <li class="page-item active">
      <span class="page-link">18</span>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">19</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">20</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">Next &gt;</a>
    </li>
  </ul>
</nav>

<!-- Example with Disabled Link -->
<nav>
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#">&lt; Previous</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item active">
      <span class="page-link">3</span>
    </li>
    <li class="page-item disabled">
      <span class="page-link">4</span>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">5</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">Next &gt;</a>
    </li>
  </ul>
</nav>
