<section class="c-card-list">
    <h3 id="card-image-{{variant}}-{{section}}-contact"><code>{{variant}}</code> Contact Card with Image</h3>
    {{> @c-card--image position="top" wide=true variant=variant is-staff=true }}
    {{> @c-card--image position="top" wide=true variant=variant is-staff=true card-link="#" }}
    {{> @c-card--image position="top" wide=true variant=variant is-staff=true image-link="#" }}
</section> 