<section class="c-card-list">
    <h3 id="card-image-{{variant}}-{{section}}"><code>{{variant}}</code> Card Image</h3>
    {{> @c-card--image position="top" wide=true variant=variant }}
    {{> @c-card--image position="bottom" wide=true variant=variant }}
    {{> @c-card--image position="right" tall=true variant=variant }}
    {{> @c-card--image position="left" tall=true variant=variant }}
</section> 