<h2>Table of Contents</h2>
<nav class="c-nav">
  <ul>
    <li><a href="#section--null">Section (Default)</a></li>
    <li><a href="#section--light">Section - Light</a></li>
    <li><a href="#section--muted">Section - Muted</a></li>
    <li><a href="#section--dark">Section - Dark</a></li>
  </ul>
</nav>

<section class="o-section">
    <h2 id="section--null">Section (Default a.k.a Unstyled a.k.a Transparent)</h2>
    {{> @c-card--image-variant-section variant="transparent" section="default" }}
    {{> @c-card--image-variant-section variant="plain" section="default" }}
</section>
<hr>
<section class="o-section o-section--style-light">
    <h2 id="section--light">Section - Light</h2>
    {{> @c-card--image-variant-section variant="transparent" section="light" }}
    {{> @c-card--image-variant-section variant="plain" section="light" }}
</section>
<hr>
<section class="o-section o-section--style-muted">
    <h2 id="section--muted">Section - Muted</h2>
    {{> @c-card--image-variant-section variant="transparent" section="muted" }}
    {{> @c-card--image-variant-section variant="plain" section="muted" }}
</section>
<hr>
<section class="o-section o-section--style-dark">
    <h2 id="section--dark">Section - Dark</h2>
    {{> @c-card--image-variant-section variant="transparent" section="dark" }}
    {{> @c-card--image-variant-section variant="plain" section="dark" }}
</section>
