<div class="plugin plugin-blog">
    <div class="blog-latest-entries">
        <article id="post-interested-in-participating-in-tx-ctrn" class="post-item ">
            <header>
                <h3><a href="/news/2025/05/08/interested-in-participating-in-tx-ctrn/">Interested in Participating in
                        TX-CTRN?</a></h3>
                <ul class="post-detail attrs">
                    <li class="date date-published"><time datetime="May 8, 2025, 4:51 p.m." title="May 8, 2025, 4:51 p.m."> May 8, 2025 </time></li>
                </ul>
                <ul class="post-detail categories">
                    <li class="category_none">Uncategorized</li>
                </ul>
                <ul class="post-detail tags"></ul>
            </header>
            <div class="blog-visual"><img
                    src="/media/filer_public_thumbnails/filer_public/e5/98/e5984154-64fc-429c-855a-16c710151044/istock-1373621705.jpg__300x200_q85_crop_subsampling-2.jpg"
                    alt="None" width="300" height="200"></div>
            <div class="blog-lead"><cms-plugin
                    class="cms-plugin-text-node cms-plugin cms-plugin-djangocms_blog-post-abstract-6 cms-render-model">The
                    Texas Childhood Trauma Research Network is currently recruiting participants ages 8-20 who have
                    recently been exposed to trauma which includes....&nbsp;</cms-plugin></div>
            <footer class="read-more"><a href="/news/2025/05/08/interested-in-participating-in-tx-ctrn/">open
                    article</a></footer>
        </article>
        <article id="post-news-from-spencers-desk" class="post-item ">
            <header>
                <h3><a href="/news/2025/05/08/news-from-spencers-desk/">News from Spencer's Desk</a></h3>
                <h4>Notes from the May 9, 2025 Hub Meeting</h4>
                <ul class="post-detail attrs">
                    <li class="date date-published"><time datetime="May 8, 2025, 4:06 p.m."
                            title="May 8, 2025, 4:06 p.m."> May 8, 2025 </time></li>
                </ul>
                <ul class="post-detail categories">
                    <li class="category_none">Uncategorized</li>
                </ul>
                <ul class="post-detail tags"></ul>
            </header>
            <div class="blog-visual"><img
                    src="/media/filer_public_thumbnails/filer_public/d2/1f/d21f715c-df20-43c6-9be6-aa0a2442b2d7/istock-1090477204.jpg__300x200_q85_crop_subsampling-2.jpg"
                    alt="None" width="300" height="200"></div>
            <div class="blog-lead"><cms-plugin
                    class="cms-plugin-text-node cms-plugin cms-plugin-djangocms_blog-post-abstract-5 cms-render-model">This
                    is my first post...and an opportunity to demonstrate adding news content to the new texasctrn.org
                    website. We are doing a walkthrough of the website with CTRN Hub on May 9th to gather feedback for
                    what needs to be added prior to the public launch.</cms-plugin></div>
            <footer class="read-more"><a href="/news/2025/05/08/news-from-spencers-desk/">open article</a></footer>
        </article>
        <article id="post-announcing-launch-of-the-texasctrnorg-website" class="post-item">
            <header>
                <h3><a href="/news/2025/03/14/announcing-launch-of-the-texasctrnorg-website/">Announcing Launch of the
                        TexasCTRN.org Website</a></h3>
                <h4>Resources for understanding and addressing childhood trauma</h4>
                <ul class="post-detail attrs">
                    <li class="date date-published"><time datetime="March 14, 2025, 9:36 a.m."
                            title="March 14, 2025, 9:36 a.m."> March 14, 2025 </time></li>
                </ul>
                <ul class="post-detail categories">
                    <li class="category_none">Uncategorized</li>
                </ul>
                <ul class="post-detail tags"></ul>
            </header>
            <div class="blog-visual"><img
                    src="/media/filer_public_thumbnails/filer_public/c5/82/c582d5a4-5e43-4eda-b682-2012ae3954b6/texas_regions_map.png__300x200_crop_subsampling-2.png"
                    alt="None" width="300" height="200"></div>
            <div class="blog-lead"><cms-plugin
                    class="cms-plugin-text-node cms-plugin cms-plugin-djangocms_blog-post-abstract-3 cms-render-model">The
                    Texas Childhood Trauma Research Network launched its website, texasctrn.org, on July 1,
                    2025.....</cms-plugin></div>
            <footer class="read-more"><a href="/news/2025/03/14/announcing-launch-of-the-texasctrnorg-website/">open
                    article</a></footer>
        </article>
    </div>
</div>
