@import url("../tools/x-pagination.postcss");

.pagination {
  @mixin pagination;

  margin-block: var(--global-space--x-large);

  width: fit-content;
  margin-inline: auto;
}
.pagination a {
  @mixin pagination__item--end;

  padding-block: 0;
}
.pagination span {
  @mixin pagination__item;

  padding-block: 0;
}
