{{#groups}}
<dl>
    <dt>{{title}}</dt>
    {{#types}}
    <dd><a href="#" class="link-{{type}}">{{type}}</a></dd>
    {{/types}}
</dl>
{{/groups}}
<dl>
  <dt>Summary</dt>
  <dd>
    <details>
      <summary class="link-primary">Toggle</summary>
      <p>Content</p>
    </details>
  </dd>
</dl>
