<div class="s-references">
  <p>A truncated list of the publications related to the projects on <a href="https://digitalporousmedia.org/related-publication-list/" target="_blank" aria-label="Opens in new window.">Digital Rocks Portal</a> (as of 2025-05).</p>

  <ol>
    <li>A.M. Alhammadi, A. AlRatrout, K. Singh, B. Bijeljic, M.J. Blunt, In situ characterization of mixed-wettability in a reservoir rock at subsurface conditions, Sci Rep. 7 (2017) 1-9. <a href="https://doi.org/10.1038/s41598-017-10992-w" target="_blank" aria-label="Opens in new window.">https://doi.org/10.1038/s41598-017-10992-w</a>.</li>

    <li>F.O. Alpak, S. Berg, I. Zacharoudiou, Prediction of fluid topology and relative permeability in imbibition in sandstone rock by direct numerical simulation, Advances in Water Resources. 122 (2018) 49-59. <a href="https://doi.org/10.1016/j.advwatres.2018.09.001" target="_blank" aria-label="Opens in new window.">https://doi.org/10.1016/j.advwatres.2018.09.001</a>.</li>

    <li>M. Andrew, Comparing organic-hosted and intergranular pore networks: topography and topology in grains, gaps and bubbles, Geological Society, London, Special Publications. 484 (2018) SP484.4. <a href="https://doi.org/10.1144/SP484.4" target="_blank" aria-label="Opens in new window.">https://doi.org/10.1144/SP484.4</a>.</li>

    <li>M. Andrew, A quantified study of segmentation techniques on synthetic geological XRM and FIB-SEM images, Comput Geosci. 22 (2018) 1503-1512. <a href="https://doi.org/10.1007/s10596-018-9768-y" target="_blank" aria-label="Opens in new window.">https://doi.org/10.1007/s10596-018-9768-y</a>.</li>

    <li>M. Andrew, B. Bijeljic, M.J. Blunt, Pore-scale imaging of geological carbon dioxide storage under in situ conditions, Geophysical Research Letters. 40 (2013) 3915-3918. <a href="https://doi.org/10.1002/grl.50771" target="_blank" aria-label="Opens in new window.">https://doi.org/10.1002/grl.50771</a>.</li>
  </ol>
</div>
