<h3>Using Generated Markup</h3>
<p>JavaScript will convert static markup into a full component structure.</p>

<dl>
  <dt>One Line Example</dt>
  <dd>
    <dl>
      <dt>Default:</dt>
      <dd>
        <p class="c-show-more c-show-more--one-line">
          <input type="checkbox" class="c-show-more__state" id="show-more-1">
          <span class="c-show-more__target">
            This is a single line of text that will be truncated with an ellipsis when it gets too long for its container width. The full text will be revealed when you click "Show More".
          </span>
          <label class="c-show-more__toggle" for="show-more-1">
            <span class="c-show-more__on-text">Show More</span>
            <span class="c-show-more__off-text">Show Less</span>
          </label>
        </p>
      </dd>
      <dt>With Link-Style Toggle:</dt>
      <dd>
        <p class="c-show-more c-show-more--one-line">
          <input type="checkbox" class="c-show-more__state" id="show-more-2">
          <span class="c-show-more__target">
            This is a single line of text that will be truncated with an ellipsis when it gets too long for its container width. The full text will be revealed when you click "Show More".
          </span>
          <label class="c-show-more__toggle" for="show-more-2">
            <span class="x-link c-show-more__on-text">Show More</span>
            <span class="x-link c-show-more__off-text">Show Less</span>
          </label>
        </p>
      </dd>
    </dl>
  </dd>

  <dt>Many Lines Example</dt>
  <dd>
    <dl>
      <dt>Default:</dt>
      <dd>
        <p class="c-show-more c-show-more--many-lines">
          <input type="checkbox" class="c-show-more__state" id="show-more-3">
          <span class="c-show-more__target">
            This is a JavaScript-enhanced multi-line example. The markup starts simple, then JavaScript builds the full component structure. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </span>
          <label class="c-show-more__toggle" for="show-more-3">
            <span class="c-show-more__on-text">Show More</span>
            <span class="c-show-more__off-text">Show Less</span>
          </label>
        </p>
      </dd>
      <dt>With Link-Style Toggle:</dt>
      <dd>
        <p class="c-show-more c-show-more--many-lines">
          <input type="checkbox" class="c-show-more__state" id="show-more-4">
          <span class="c-show-more__target">
            This is a JavaScript-enhanced multi-line example. The markup starts simple, then JavaScript builds the full component structure. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </span>
          <label class="c-show-more__toggle" for="show-more-4">
            <span class="x-link c-show-more__on-text">Show More</span>
            <span class="x-link c-show-more__off-text">Show Less</span>
          </label>
        </p>
      </dd>
    </dl>
  </dd>
</dl>
