<dl>
  <dt>Spinner</dt>
  <dd>
    <span class="spinner-border" aria-hidden="true"></span>
  </dd>
  <dt>Spinner in Button</dt>
  <dd>
    {{> @spinner-border--button type="button" class="btn btn-primary" }}
  </dd>
</dl>
