@import url("../tools/x-pagination.postcss");

/* TODO: Support /c-page.html classes */
/* FAQ: Core-Components Paginator module expects them */
/* SEE: https://github.com/TACC/Core-Components/blob/v0.0.4/src/lib/Paginator/Paginator.module.css */


