{{!-- XXX: Almost identical to border-spinner.hbs, but using TACC buttons --}}
<dl>
  <dt>Spinner</dt>
  <dd>
    <span class="spinner-border" aria-hidden="true"></span>
  </dd>
  <dt>Spinner in Button</dt>
  <dd>
    {{!-- HACK: To support TACC .c-button until TACC skins Bootstrap .btn --}}
    {{> @border-spinner--button is-tacc="true" type="button" class="c-button c-button--primary c-button--is-busy" }}
  </dd>
</dl>
