<!-- Pagination with one page -->
<nav class="c-page-list">
  <button class="c-page-end" disabled type="button">
    &lt; Previous
  </button>
  <button
    class="c-page-item c-page-item--is-active c-page-link"
    type="button"
  >
    1
  </button>
  <button class="c-page-end" disabled type="button">
    Next &gt;
  </button>
</nav>

<!-- Pagination with fewer than 7 pages -->
<nav class="c-page-list">
  <button class="c-page-end" type="button">
    &lt; Previous
  </button>
  <button
    class="c-page-item c-page-link"
    type="button"
  >
    1
  </button>
  <button
    class="c-page-item c-page-item--is-active c-page-link"
    type="button"
  >
    2
  </button>
  <button
    class="c-page-item c-page-link"
    type="button"
  >
    3
  </button>
  <button
    class="c-page-item c-page-link"
    type="button"
  >
    4
  </button>
  <button class="c-page-end" type="button">
    Next &gt;
  </button>
</nav>

<!-- Pagination with current page near start -->
<nav class="c-page-list">
  <button class="c-page-end" type="button">
    &lt; Previous
  </button>
  <button
    class="c-page-item c-page-link"
    type="button"
  >
    1
  </button>
  <button
    class="c-page-item c-page-link"
    type="button"
  >
    2
  </button>
  <button
    class="c-page-item c-page-item--is-active c-page-link"
    type="button"
  >
    3
  </button>
  <button
    class="c-page-item c-page-link"
    type="button"
  >
    4
  </button>
  <button
    class="c-page-item c-page-link"
    type="button"
  >
    5
  </button>
  <button
    class="c-page-item c-page-link"
    type="button"
  >
    6
  </button>
  <button
    class="c-page-item c-page-link"
    type="button"
  >
    7
  </button>
  <button
    class="c-page-item c-page-link"
    type="button"
  >
    8
  </button>
  <button
    class="c-page-item c-page-link"
    type="button"
  >
    9
  </button>
  <button
    class="c-page-item c-page-link"
    type="button"
  >
    10
  </button>
  <span class="c-page-item--etcetera">...</span>
  <button
    class="c-page-item c-page-link"
    type="button"
  >
    20
  </button>
  <button class="c-page-end" type="button">
    Next &gt;
  </button>
</nav>

<!-- Pagination with current page near end -->
<nav class="c-page-list">
  <button class="c-page-end" type="button">
    &lt; Previous
  </button>
  <button
    class="c-page-item c-page-link"
    type="button"
  >
    1
  </button>
  <span class="c-page-item--etcetera">...</span>
  <button
    class="c-page-item c-page-link"
    type="button"
  >
    11
  </button>
  <button
    class="c-page-item c-page-link"
    type="button"
  >
    12
  </button>
  <button
    class="c-page-item c-page-link"
    type="button"
  >
    13
  </button>
  <button
    class="c-page-item c-page-link"
    type="button"
    disabled
  >
    14
  </button>
  <button
    class="c-page-item c-page-link"
    type="button"
  >
    15
  </button>
  <button
    class="c-page-item c-page-link"
    type="button"
  >
    16
  </button>
  <button
    class="c-page-item c-page-link"
    type="button"
  >
    17
  </button>
  <button
    class="c-page-item c-page-item--is-active c-page-link"
    type="button"
  >
    18
  </button>
  <button
    class="c-page-item c-page-link"
    type="button"
  >
    19
  </button>
  <button
    class="c-page-item c-page-link"
    type="button"
  >
    20
  </button>
  <button class="c-page-end" type="button">
    Next &gt;
  </button>
</nav>
