<dl>

  <dt>Basic Dropdown</dt>
  <dd>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </dd>

  <dt>Dropdown with Divider</dt>
  <dd>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Options
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
        <a class="dropdown-item" href="#">Regular option</a>
        <a class="dropdown-item" href="#">Another option</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated option</a>
      </div>
    </div>
  </dd>

  <dt>Dropdown with Active and Disabled Items</dt>
  <dd>
    <div class="dropdown">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Demo States
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
        <a class="dropdown-item" href="#">Normal item</a>
        <a class="dropdown-item active" href="#">Active item</a>
        <a class="dropdown-item" href="#">Another normal item</a>
        <a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">Disabled item</a>
      </div>
    </div>
  </dd>

</dl>